<div class="card" id="exitNotice" style="width:20em; height:10em; position:relative;">
  <div class="card-body">
    <h1>Other user disconnected!</h1>
    <p> Closing room... </p> 
    <p id="countdown"> 3 </p>

  </div>
</div>