<body class="card" id="gameOver" style="width:100%; height:100%; position:relative;">
  <div class="card-body",>
    <h2>{{message}}</h2>
    <p style="color:black"> Play again?</p>
    <div class = "decisions">
        <p id = "pdecision" style="color:black"> You: Pending</p>
        <p id = "oppdecision" style="color:black">Opponent: Pending</p>
    </div>
    <div id="bottom"></div>
        <button type="button" class="btn btn-primary" onclick="playAgain(true)">Yes</button>
        <button type="button" class="btn btn-primary" onclick="playAgain(false)">No</button>
    </div>
  </div>
</div>