<script>

    function closeGameOver(){
        $("#gameOver").parent().remove();
    }
    
</script>

<body class="card" id="gameOver" style="width:100%; height:100%; position:relative;">
  <div class="card-body",>
    <h1>{{message}}</h1>
    <p> Play again?</p>
    <button type="button" class="btn btn-primary" onclick="setupGame({{score}})">Yes</button>
    <button type="button" class="btn btn-primary" onclick="closeGameOver()">No</button>
  </div>
</div>