<script>

    function closeGameOver(){
        $("#gameOver").parent().remove();
    }
</script>

<div class="card" id="gameOver" style="width:20em; height:10em; position:relative;">
  <div class="card-body">
    <h1>{{message}}</h1>
    <p> Play again?</p>
    <button type="button" class="btn btn-primary" onclick="setupGame()">Yes</button>
    <button type="button" class="btn btn-primary" onclick="closeGameOver()">No</button>
  </div>
</div>