<h1 class = "heading">Tic Tac Toe</h1>
<h4 class = "heading">A project by Galadriel Cho, Lorien Cho and Satwika Vemuri </h1>

<div class="card">
  <div class="card-body">
    <h1>Welcome!</h1>
    <p> Please select a game mode.</p>
    <a href = "singleplayer"><button type="button" class="btn btn-primary">Singleplayer</button></a>
    <a href = "multiplayer"><button type="button" class="btn btn-primary">Multiplayer</button></a>
  </div>
</div>