

<div class="flex-container">

<div class="card leftcard flex-child">
  <div class="card-body">

    <h1>Multiplayer</h1>
    <p> Join an open room, or create your own.</p>
      <p id="numRooms">Open Rooms: 0</p>

    <table class="options">
      <tbody align="center">
        <tr>
          <td><input type="text" id="createRoomName" placerholder=""></td>
          <td><button type="button" class="btn btn-primary" onclick="makeChoice('create')">Create Room</button></td>
        </tr>
        <tr>
        <td><input type="text" id="joinRoomName" placeholder=""></td>
        <td><button type="button" class="btn btn-primary" onclick="makeChoice('join')">Join Room</button></td>
        </tr>
      </tbody>
    </table>
    <p id="warning"></p>
  </div>
</div>

<div class = "card rightcard flex-child" id = "publicRooms">
  <h6 align="left">Public Rooms:</h6>
    <table class = "roomTable table table-sm table-responsive-sm" id = "openRooms"></table>
</div>

</div>