


<div class="card">
  <div class="card-body">
    <h1>Multiplayer</h1>
    <p> Join an open room, or create your own.</p>
    <p id="numRooms">Open Rooms: 0</p>
    <table id = "openRooms">
      <tr>
        <th>Open Rooms:</th>
      </tr>
    </table>
    <button type="button" class="btn btn-primary" onclick="makeChoice('join')">Join Room</button>
    <button type="button" class="btn btn-primary" onclick="makeChoice('create')">Create Room</button>
  </div>
</div>