

<div class="card">
  <div class="card-body">
    <h1>Choose your Player!</h1>
    <p> Please select 'X' or 'O'.</p>
    <button type="button" class="btn btn-primary" onclick="setPlayer('X', [0, 0])">X</button>
    <button type="button" class="btn btn-primary" onclick="setPlayer('O', [0, 0])">O</button>
  </div>
</div>