body {
    text-align:center;

}

h1.heading {
    background-color:rgba(0, 0, 0, 0.55);
    color: white;
    margin-top: 1.25em;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: .5em;
    padding: .25em;
    width: 7em;

}


p {
    display:inline-block;
    padding-right: 1em;
}

div.subhead{
    color:white;
}

.card {
    width: 30em;
    height: 30em;
    margin: auto;
    padding: 0;
    border: none;
    position: relative;
    background:none;

}

#roomname{
    color:white;
    display:right;
}

#popup{
    position: absolute;
    z-index: 10;
    top:25%;
    width:100%;
    background-color: #f7fbff;
    
}


#board {
    width: 30em;
    height: 30em;

    padding: 1em;
    text-align: center;    
}

table {
    table-layout: fixed;
    width: 100%;
    height: 100%;
    display:center;    
    background-color: #f7fbff;

}

td h1{
    font-size:xx-large;
    background-color: none;
}



td {
    vertical-align: middle;
    width: calc(100% / 3);
    height: calc(100% / 3);
}

.tile:hover {

    background-color: #c4daf0;
}
    

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: .25s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

p{

    display:inline-block;
    width:fit-content;
}