h1.heading {
    text-align: center;
    color: white;
    border-style: solid;
    padding: .3em;
    width: 8em;
    margin: 0 auto;
    font-family: 'Mitr', sans-serif;
    font-weight: 500;
    margin-top: 3em;

}

h4.heading {
    text-align: center;
    color: white;
    width: 30em;
    margin: 0 auto;
    font-family: 'Mitr', sans-serif;
    font-size:10px;
    font-weight: 10;
    margin-top: 1em;

}

.card {
    margin-top: 2em;

}