html{
}
.card {
    width: 30em;
    display: center;
    margin: auto;
    padding: 1em;
    margin-top: 7em;
    text-align: center;
    background-color:#f7fbff;

}

nav{
    background-color:#f7fbff;

}

.navbar-light .navbar-nav .nav-link{
    color:#38387a;
}
.btn {
    background-color: #6b6bff;
    border-color: #5252ed;
}


.particles{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background: #7993ed;
    height: 100vh;
    width:100vw;
    z-index: -10;
}