.card {
    width: 90%;
    max-width:30em;
    margin: auto;
    padding: 1em;
    margin: 7em auto;
    text-align: center;
    background-color:#f7fbff;
    font-family: 'Mitr', sans-serif;
    font-weight: 300;

}

h1 {
    font-size: 1.75rem;
}

.navbar-nav {
    justify-content:center;
    font-size:.75rem;
}

.navbar-brand {
    font-size:1rem;
}
@media screen and (min-width: 600px) {
    h1 {
      font-size: 2.25rem;
    }
    .navbar-nav{
        justify-content: space-between;
        font-size:1rem;
        
    }
    .navbar-brand {
        font-size:1.25rem;
    }

    .card{
        width:80%;
    }
  }
nav{
    background-color:rgba(0, 0, 0, 0.55);
    font-family: 'Mitr', sans-serif;
    font-weight: 300;


}

.navbar-light .navbar-nav .nav-link{
    color:#ffe08c;
}
.btn {
    background-color: #6b6bff;
    border-color: #5252ed;
    margin:1em;
}

.btn:hover {
    background-color: #43439a;
    border-color: #343493;
}
.particles{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    /* background: #151a53; */
    background-image: linear-gradient(#151a53, #0f0418);

    z-index: -10;
}

#particles-js {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }

  
html {
    overflow: hidden;
    height: 100%;
}

body {
    overflow: auto;
    height: 100%;
    overscroll-behavior: none;

}

p{
    margin-bottom:0;
}