.card {
    width: 20em;
    display: center;
    padding: 1em;
    margin-top: 7em;
    text-align: center;
    
}


.leftcard{
    margin-left: 10em;
    margin-right: 2.5em;
}

.rightcard{
    margin-left: 2.5em;
    margin-right: 10em;
}

.options {
    background: none;
    margin-bottom: 1em;
}

.roomTable {
    width: 100%;
    margin-top: 1em;
    background: none;
    overflow: 10px;

}

#warning {
    color: #d43d3d;
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    border: 2px rgba(0,0,0,0);
}  

.flex-child:first-child {
    margin-right: 10px;
} 

.scroll {
    overflow-y: scroll;
}