
.flex-container {
    display: flex;
    flex-direction:column;
}
@media screen and (min-width: 800px) {

    .flex-container{
        flex-direction: row;
    }

    .rightcard{
        max-width: 15em;
        align-content:space-around;
    }
    
}

.options {
    background: none;
    justify-content:center;
    text-align: center;
}

.roomTable {
    width: 100%;
    margin-top: 1em;
    background: none;
    overflow: 10px;

}

.roomname{
    color:white;
    text-align: right !important;
    display:right;
}

#warning {
    color: #d43d3d;
}


.flex-child {
    flex: 1;
    border: 2px rgba(0,0,0,0);
}  

.scroll {
    overflow-y: scroll;
}

